<br />
Категорія:
<%= f.select 'category_id', options_from_collection_for_select(Category.all, 'id', 'name'),{}, :class=>"form-control" %><br />
Заголовок:
<%= f.text_field :name,  :class=>"form-control" %><br />
Текст:
<%= f.text_area :text, :class => "tinymce", :rows => 8, :cols => 100 %>
<%= tinymce %>
<br />
<p><%= f.submit "Зберегти", :class=>"btn btn-primary"%></p>
</div>