<style type="text/css">
	.badge a{
		color: white;
	}
}
</style>
<tr>
<div>
	<h5>
		<%=link_to question.name, question_path(question.id) %>
		<span class="badge badge-primary" data-toggle="tooltip" title="Answers count"><%= question.count %></span>
		<h6>
			
		</h6>
	</h5>
	<h6><span class="fa fa-user"></span> <%=question.user.nickname%></h6>
	<p>
		<%=strip_tags(question.text)[0..255]%>...
		<br>
		<p class="font-weight-bold badge badge-secondary"><%= raw question.categories.map(&:name).map{ |t| link_to t, category_path(t), class: 'badge badge-primary' }.join(' ') %></p>
	</p>
	<hr>
</div>
</tr>