<br>
<h3><%= @question.name %></h3>
<hr><p class="font-weight-bold badge badge-secondary"><%=link_to @question.category.name, category_path(@question.category.id) %></p>
<p><%= @question.text.html_safe %></p>

<%=form_for :answer, url:question_answers_path(@question.id) do |f|%>
<%=render '/answers/form', f:f %>&emsp;
<%end%>


<%=form_for :qcomment,  url:question_qcomment_path(@question.id) do |g| %>
<%=render "/qcomments/form", g:g %>
<%end%>

<% @qcomments.each do |qcomment| %>
<%=render '/qcomments/elem', qcomment:qcomment%>
<%end%>
<br>

<% @answers.each do |answer| %>
<%=render '/answers/elem', answer:answer%>
<%end%>

