<br>
<h3><%= @question.name %></h3>
<hr>
<p class="font-weight-bold badge badge-secondary"> 
<%= raw @question.categories.map(&:name).map{ |t| link_to t, category_path(t), class: 'badge badge-primary' }.join(' ') %>
</p>
<p><%= @question.text.html_safe %></p>

<%=form_for :answer, url:question_answers_path(@question.id) do |f|%>
<%=render '/answers/form', f:f %>&emsp;
<%end%>


<%=form_for :qcomment,  url:question_qcomments_path(@question.id) do |g| %>
<%=render "/qcomments/form", g:g %>
<%end%>

<%=render @qcomments%>
<br>

<%=render @answers%>

