<%= image_tag @question.user.avatar.url(:thumb), width: 30, heigth: 30 %>
<h1><%=link_to "All questions",questions_path%></h1>
<h1><%=link_to "All categories",categories_path%></h1>
<%if user_signed_in?%>
    <p><%=link_to "sign out",destroy_user_session_path, method: :delete%></p>
<%else%>
    <p><%=link_to "sign in",new_user_session_path%></p>

<%end%>

