<br>
<h2>Редагувати профіль:</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<br />
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control", :id=>"inputEmail3" %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Новий пароль</label>
    <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :id=>"inputPassword3", :placeholder=>"Якщо не хочете змінювати, залишіть пустим" %>
        <% if @minimum_password_length %>
      <small class="form-text text-muted">мінімум <%= @minimum_password_length %> символів</small>
    <% end %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputConfirmPassword3" class="col-sm-2 col-form-label">Підтвердіть пароль</label>
    <div class="col-sm-10">
        <%= f.password_field :password_confirmation, autocomplete: "off" , :class=>"form-control", :id=>"inputConfirmPassword3"%>
    </div>
  </div>

    <div class="form-group row">
    <label for="inputOldPassword3" class="col-sm-2 col-form-label">Новий пароль</label>
    <div class="col-sm-10">
        <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control", :id=>"inputOldPassword3", :placeholder=>"Нам потрібен теперішній пароль, цоб підтвердити зміни" %>
    </div>
  </div>

   <div class="form-group row">
    <div class="col-sm-10">
      <%= f.submit "Оновити" , :class=>"btn btn-primary" %>
    </div>
  </div>

<% end %>

<h3>Видалити обліковий запис:</h3>

<p>Незадоволені? <%= button_to "Видалити мій обліковий запис", registration_path(resource_name), data: { confirm: "Ви впевнені?" }, method: :delete, :class=>"btn btn-danger" %></p>

<%= link_to "Назад", :back %>
